<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>algorithm</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>カメラの映像</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>問題を解くための段階的な手順または規則。たとえば、お茶を入れるための一連の手順は、アルゴリズムといえます。</string>
				<key>Title</key>
				<string>アルゴリズム</string>
			</dict>
		</dict>
		<key>augment</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>カメラの映像</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>広げること、または加えること。拡張現実は、現実世界にデジタルの物体やイメージを加えて広げた世界です。</string>
				<key>Title</key>
				<string>拡張</string>
			</dict>
		</dict>
		<key>axis</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>カメラの映像</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>座標空間で方向を示すために使う架空の直線。XとYという２つの軸を持つグラフを見たことがあるかもしれません。3次元空間では、X、Y、Zがあります。この場合、XとZが左右と前後を表し、Yが上下を表します。
                </string>
				<key>Title</key>
				<string>軸</string>
			</dict>
		</dict>
		<key>feature point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/01.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>カメラの映像</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>AR場面に表示される、iPadがその場面を画像化するために重要と判断した特徴を示す小さい白い点。すべての特徴点を合わせたものが、iPadがカメラのレンズを通して見た場面のモデルを表します。</string>
				<key>Title</key>
				<string>特徴点</string>
			</dict>
		</dict>
		<key>plane</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/02.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>平面探し</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>物体を置くためのデジタル上の平たい表面。</string>
				<key>Title</key>
				<string>平面</string>
			</dict>
		</dict>
		<key>point</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/03.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>キャラクター誕生!</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>数学における空間内の特定の点。通常は、横軸のxと縦軸のyの値で示されます。</string>
				<key>Title</key>
				<string>点</string>
			</dict>
		</dict>
		<key>texture</key>
		<dict>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Document1.playgroundchapter/05.playgroundpage</string>
				<key>_LOCALIZABLE_</key>
				<dict>
					<key>Title</key>
					<string>遊びましょう!</string>
				</dict>
			</dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Definition</key>
				<string>コンピュータで生成された場面でデジタルの物体をおおう“皮”。たとえば、Hopperの体は、緑とピンクがかった赤色のテクスチャでできています。</string>
				<key>Title</key>
				<string>テクスチャ</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
