<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<string>Document8.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>com.apple.playgrounds.learntocode2.edition3</string>
	<key>ContentVersion</key>
	<string>3.0.1</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>ImageReference</key>
	<string>Images/rose.jpg</string>
	<key>Name</key>
	<string>Name</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>Version</key>
	<string>4.0</string>
</dict>
</plist>
